/* ---------- GENERAL ---------- */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #000000;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #222222af;
}

/* ---------- FORM ---------- */
form {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

form div {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: bold;
}

select, textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}



/* ---------- MESSAGES ---------- */
ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #fff;
  margin-bottom: 1rem;
  padding: 0.8rem;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

/* ---------- STATUS COLORS ---------- */
li em {
  font-style: normal;
  font-weight: bold;
  margin-left: 0.5rem;
}


/* ---------- SECTIONS ---------- */
h2 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

p {
  font-style: italic;
  color: #666;
}
