/* ---------- GLOBAL ---------- */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

.page {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

/* ---------- HEADER ---------- */
header {
  background-color: #654caf;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 1rem;
}

header h1 {
  margin: 0;
  font-size: 2rem;
  color:#f8f8f8
}

/* ---------- NAV ---------- */
nav {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  color: #651ea7;
  font-weight: bold;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  transition: background-color 0.2s;
}

nav a:hover {
  background-color: #e0e1f2;
}

/* ---------- MAIN ---------- */
main {
  min-height: 60vh;
}

/* ---------- BUTTONS ---------- */
button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #301bb6a3;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #4a1d93;
}

button:disabled {
  background-color: #9e9e9e;
  cursor: not-allowed;
}