* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f6f7fb;
  color: #000000c1;
}

.page {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 2rem;
}

h1{
  margin: 0 0 0.5rem;
  font-size: 2.2rem;
  color: #460707e1;
}

h2{
  color: #460707e1;
}

input,select,textarea {
  padding: 0.4rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}